<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Edit Appointment</title>
</head>
<body>
    <h1>Edit Appointment</h1>
    <%- include("../partials/editnav.ejs") %>
    <div class="container">
        <form action="/app/<%=appt.id%>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="date">Date:</label>
                </div>
                <div class="col-75">
                  
                    <input type="text" name="date" placeholder="YYYY-MM-DD" value="<%=appt.date%>"/>
                </div>

            </div>
            <!-- second row -->
            <div class="row">
                <div class="col-25">
                    <label for="start_time">Start Time:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="start_time" placeholder="<%=appt.start_time%>" value="<%=appt.start_time%>" />
                </div>
                <!-- skipping the radio buttons for AM and PM for now -->
            </div>
            <!-- third row -->
            <div class="row">
                <div class="col-25">
                    <label for="end_time">End Time:</label>
                   
                </div>
                <div class="col-75">
                    <input type="text" name="end_time" placeholder="<%=appt.end_time%>" value="<%=appt.end_time%>" />
                </div>
            </div>
            <br>
            <br>
            <input type="submit" class="btn btn-default" name="" value="Update Appointment" />
        </form>
        
    </div>
</body>
</html>