<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head.ejs") %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Display Appointment Details</title>
</head>
<body>
    <h1>Show Appointment Details</h1>
    <!-- Navigation -->
<%- include("../partials/shownav.ejs") %>
   
    <!-- from here, we can update or delete this appointment -->
    <div class="container">
       
            <div class="row">
                <div class="col-25">
                    <label for="date">Date:</label>
                </div>
                <div class="col-75">
                    <%= moment(appt.date).format("MMM DD YYYY") %>
                </div>

            </div>
            <!-- second row -->
            <div class="row">
                <div class="col-25">
                    <label for="start_time">Start Time:</label>
                </div>
                <div class="col-75">
                    <%= appt.start_time %>
                    <!-- <input type="text" name="start_time" value="0800" /> -->
                </div>
                <!-- skipping the radio buttons for AM and PM for now -->
            </div>
            <!-- third row -->
            <div class="row">
                <div class="col-25">
                    <label for="end_time">End Time:</label>
                </div>
                <div class="col-75">
                    <%= appt.end_time %>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <label for="createdAt">Create Date:</label>
                </div>
                <div class="col-75">
                    <%= moment(appt.createdAt).format("MMM DD YYYY") %>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <label for="createdAt">Created By:</label>
                </div>
                <div class="col-75">
                    <%= appt.creator %>
                </div>
            </div>
            <br>
            <br>
             <form action="/app/<%=appt.id%>?_method=DELETE" method="POST">
                <% if (canEdit) { %>
            <input type="submit" class="btn btn-default" name="" value="Delete Appointment" />
            <% } else { %>
                <input  type="hidden" class="btn btn-default" name="" value="Delete Appointment" />
            <%} %>
        <!-- </form> -->
    </div>
</body>
</html>